* { box-sizing: border-box; }

body{
  background-color: #fffeea;
  color: #34495e;
}

.left { float: left; }
.right { float: right; }

nav {
  position: fixed;
  width: 100% !important;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: midnightblue;
  font-family: 'Amatic SC',cursive,Futura, Verdana, Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 600;
}
nav a {
  color: white;
  transition: color 600ms;
  -webkit-transition: color 600ms;
  padding-right: 10px;
}
nav a:link {
  text-decoration: none;
}
nav a:hover {
  color: #ff0;
  text-decoration: none;
}

.content{
  padding-top: 60px;
}


.container {
  margin: 0 auto;
  width: 80%
}

.header h1{
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
}

.personal-info {
  background-image: url("./../img/contact-frame.png");
  background-repeat: no-repeat;
  background-size: 400px 425px;
  background-position: center;
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.info {
  display: inline-block;*/
}
