#skill-list {
  margin-left: 5em;
}

.skills {
  margin-top: 30px;
}

.skills-hard {
  text-transform: uppercase;
  color: red;
}

.skills-technology {
  text-align: center;
  text-transform: uppercase;
  color: red;
}
