* { box-sizing: border-box; }

/*** body ***/
body{
  background-color: #fffeea;
  color: #34495e;
  position: relative;
  font-family: 'Life Savers', cursive;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 25px;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  text-transform: uppercase;
}

/*** navigation bar ***/
.navbar-brand {
    font-family: 'Special Elite', cursive;
    text-transform: uppercase;
}

a.navbar-brand {
  color: steelblue !important;
}

.nav-link {
    font-family: 'Special Elite', cursive;
    font-weight: normal;
}

.social-icon {
  padding-right: 20px;
}

/*** SideBar ***/
.sidebar {
  width: 115px;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 10px;
  text-align: center;
  overflow-x: hidden;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidebar a:hover {
  color: #064579;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sidebar-icon-language {
  width: 80px;
  height: 80px;
  padding-right: 20px;
}

.spacer {
  padding-top: 80px;
}

/*** Work Carousel ***/
.page-header {
  text-align: center;
  color: steelblue;
  margin-bottom: 20px;
}

.work-links {
  text-align: center;
  padding-bottom: 30px;
}

.work-link {
  display: none;
}

.work-link-img {
  width: 60px;
  height: 60px;
}

.work-github {
  padding-left: 20px;
}

#workCarousel {
  /* margin-bottom: 500px; */
}

.work-slider .carousel-indicators {
  top: -30px;
  padding-left:15px;
  padding-right:15px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.carousel-indicators li:not(:last-child) {
  margin-right: 20px;
}

.work-carousel-img{
    display: block;       /* centering */
    margin-left: auto;    /* centering */
    margin-right: auto;   /* centering */
    padding-bottom: 20px;
    max-width: 550px;
    max-height: 250px;
}

.carousel {
  margin: 0 auto;
  width: 80%;
}

#carouselExampleIndicators {
  /* padding-top: 50px; */
}

.carousel-img{
    display: block;       /* centering */
    margin-left: auto;    /* centering */
    margin-right: auto;   /* centering */
    padding-bottom: 20px;
    max-width: 750px;
    max-height: 450px;
}

.carousel-indicators {
    top: -5%;
}

.carousel-indicators li {
  background-color: #999; /* change color */
  background-color: rgba(70,70,70,.25);
  width: 10px;            /* change to circles */
  height: 10px;           /* change to circles */
  border-radius: 100%;    /* change to circles */
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-caption{
    position: static;
    color: steelblue;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 80px;
  width: 80px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

/*** All sections ***/
.new-section {
  margin: 0 auto;
  width: 80%;
}

.new-section-header h1{
  text-align: center;
  font-weight: 600;
  color: steelblue;
}

.languages {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icon-language {
  width: 80px;
  height: 100px;
  padding-right: 20px;
}

/** Override parent CSS styles ***/
.form-control {
  width: 80%;
  margin-bottom: 15px;
}

.label {
  color: white;
  font-weight: bold;
}

.required {
  color: red;
  font-family: Helvetica;
  font-size: 16pt;
}

/*** Footer ***/
.my-footer {
  margin-top: 0px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.copyright {
  float: right;
  font-weight: bold;
}
